@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

*,
body {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(
            to bottom right,
            rgba(75, 75, 167, 0.8),
            rgba(73, 73, 155, 0.8)
        ),
        url("/image/Woman\ on\ video\ call.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
    overflow-x: hidden;
    color: #f4f4f4;
    font-family: "lato", sans-serif;
}

#wrapper {
    max-width: 750px;
    margin: auto;
    padding: 40px;
}

header {
    text-align: center;
    margin: 10px 0 30px;
}

#title {
    margin-bottom: 10px;
    text-shadow: 4px 1px 1px rgb(50 50 50 / 40%);
    letter-spacing: 0.4px;
}

#description {
    font-style: italic;
    font-weight: 300;
    text-shadow: 1px 1px 0px rgb(0 0 0 / 40%);
}

#survey-form {
    background: linear-gradient(130deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    padding: 40px 60px;
}

/* .tab {
    display: none;
} */

.form-group {
    margin-bottom: 30px;
    line-height: 26px;
}

label {
    /* text-shadow: 1px 1px 0px rgb(0 0 0 / 40%); */
    display: flex;
    align-items: center;
    font-size: 17px;
    margin-bottom: 10px;
}

fieldset {
    padding: 15px 20px 10px;
    /* border-radius: 5px; */
}

legend {
    padding: 0 3px;
    background-color: #444;
    font-size: 17px;
}

.form-group p:not(legend > p) {
    margin-bottom: 10px;
    font-size: 17px;
}

label span,
.text-lighter {
    font-size: 0.95rem;
    color: #e4e4e4;
    margin-left: 2px;
}

input,
select,
textarea {
    width: 100%;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    border: none;
}

select {
    padding: 8px 7px;
}

textarea {
    color: #444;
    font-family: sans-serif;
    resize: vertical;
    min-height: 100px;
}

input[type="radio"],
input[type="checkbox"] {
    width: unset;
    margin-right: 8px;
}

input:focus,
select:focus,
textarea {
    outline: none;
}

label > input {
    margin: 5px 0 5px 0;
}

input::placeholder,
select,
option {
    color: #444;
}

option:not(:first-child) {
    color: rgb(242, 100, 49);
}

#submit {
    width: 100%;
    padding: 8px 10px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgb(242, 100, 49);
    color: #f4f4f4;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid transparent;
    cursor: pointer;
    transition: 0.3s ease;
}

#submit:hover {
    background-color: transparent;
    color: rgb(242, 100, 49);
    border-color: rgb(242, 100, 49);
}

/* .control_buttons {
    padding: 7px 15px;
    border-radius: 5px;
    background-color: rgb(242, 100, 49);
    color: #f4f4f4;
    font-weight: bold;
    font-size: 15px;
    border: none;
    float: right;
    cursor: pointer;
    transition: 0.3s ease;
}

.control_buttons:not(:last-child) {
    margin-right: 3px;
}

.control_buttons:hover {
    background-color: #f4f4f4;
    color: rgb(242, 100, 49);
} */

footer p {
    font-size: 15px;
    margin-top: 40px;
    color: #f4f4f4;
    text-align: center;
}

footer a {
    color: #f4f4f4;
    text-decoration: none;
    transition: 0.3s ease;
}

footer a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 500px) {
    #wrapper {
        padding: 30px;
    }

    #survey-form {
        padding: 40px 30px;
    }
}

@media screen and (max-width: 375px) {
    legend {
        font-size: 17px;
        width: 100%;
    }
}

@media screen and (max-width: 350px) {
    #wrapper {
        padding: 20px 10px;
    }

    #survey-form {
        padding: 30px 20px;
    }

    footer p {
        margin-top: 20px;
    }
}
